.git
.github
.idea
.codex
node_modules
vendor
bootstrap/cache/*.php
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
public/build
public/hot
public/storage
npm-debug.log
yarn-error.log
.env
.env.*
compose.yaml
docker-compose.yml
docker-compose.production.yml
README.md
tests
tsconfig.tsbuildinfo
